<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="ui celled table" style="margin-top:20px;margin-bottom: 40px">
    <thead>
    <tr>
        <th>学期</th>
        <th>课程名</th>
        <th>成绩</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list:${page.content}">
        <td th:text="${list.body}">学期</td>
    </tr>
    </tbody>
</table>


<div th:replace="page"></div>

</body>
</html>