<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
</head>
<body>


    <!--nav-->
    <div th:replace="nav"></div>




    <div class="article">
        <h1 class="text-center" th:text="${article.title}">asd</h1>
        <h4 class="text-justify" th:text="${article.body}"></h4>
    </div>


    <div class="comment">

        <form action="" method="post">

            <div class="form-group">
                <label class="sr-only">Password</label>
                <input th:value="${article.id}" id="articleid" class="sr-only form-control" type="text" name="articleid" placeholder="articleid">
            </div>

            <div class="form-group">
                <label>nickname</label>
                <input class="form-control" type="text" id="nickname" name="nickname" placeholder="nickname">
            </div>

            <div class="form-group">
                <label>email</label>
                <input class="form-control" type="text" id="email" name="email" placeholder="email">
            </div>

            <div class="form-group">
                <label>内容</label>
                <input class="form-control" type="text" id="body" name="body" placeholder="内容">
            </div>



            <button id="comment" class="btn btn-primary form-control" type="button"> 提交</button>

        </form>

        <ul class="list-group" th:each="comment:${comments}">
            <li class="list-group-item" th:text="${comment.nickname}">23</li>
            <li class="list-group-item" th:text="${comment.email}">23</li>
            <li class="list-group-item" th:text="${comment.body}"></li>
            <li class="text-right list-group-item" th:text="${#dates.format(comment.createAt,'yyyy/MM/dd HH:mm')}">发布时间</li>


        </ul>


    </div>



    <div th:replace="footer"></div>


    <script src="/scripts/article.js"></script>
</body>
</html>