<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head">

</head>

	<body>

        <!--nav-->
        <div th:replace="nav"></div>


		<ul class="text-center" th:each="list:${page.content}">
			<h2><li><a href="#" th:href="@{/articles/{id}(id=${list.id})}">标题</a></li></h2>
            <li th:text="${#dates.format(list.createAt,'yyyy/MM/dd HH:mm')}">发布时间</li>
			<h4><li th:text="${#strings.abbreviate(list.body,50)}">内容</li></h4>
		</ul>



        <div th:replace="page"></div>


        <div th:replace="footer"></div>



		

	</body>
</html>